<!DOCTYPE html>
<html>
  <head>
    <style type="text/css">
      html, body { height: 100%; margin: 0; padding: 0; }
      #map { height: 100%; }
    </style>
  </head>
  <body>
    <div id="map"></div>

    <script type="text/javascript">

  	


    function initMap() {
    	var center = {lat: 0, lng: 0};
	  	var query = window.location.search.substring(1);
	  	var vars = query.split('&');
	  	var radius = 0;
	  	var la, lo, rll;
	  	for (i = 0; i < vars.length; i++) {
	  		var pair = vars[i].split('=');
	  		switch(pair[0]) {
			    case 'r':
		        radius = Number(pair[1]);
		        break;
		      case 'll':
		      	var splitted = pair[1].split(',')
		      	la = Number(splitted[0]);
		      	lo = Number(splitted[1]);
		      	break;
		      case 'rll':
		      	rll = Number(pair[1]);
		      	break;
				}
	  	}

    	if (navigator.geolocation) {
    		var startPos;
			  var geoSuccess = function(position) {
			    startPos = position;
			    if (la) {
			    	makeMap(
				    	{lat: startPos.coords.latitude, lng: startPos.coords.longitude}, 
				    	radius,
				    	{la: la, lo: lo, rll: rll}
				    );
			    } else {
			    	makeMap(
				    	{lat: startPos.coords.latitude, lng: startPos.coords.longitude}, 
				    	radius
				    );
			    }
			  };
			  var error = function() {};
			  navigator.geolocation.getCurrentPosition(geoSuccess, error, {maximumAge:60000});
			} else {
			  alert('Geolocation is not supported for this Browser/OS version yet.');
			  makeMap(center, 0);
			}
		}

		function makeMap(location, radius, secondLocation) {
			// Create a map object and specify the DOM element for display.
		  var map = new google.maps.Map(document.getElementById('map'), {
		    center: location,
		    zoom: 2
		  });

		  var marker = new google.maps.Marker({
		    position: location,
		    map: map,
		  });

		  if (radius) {
		  	var cityCircle = new google.maps.Circle({
		      strokeColor: '#FF0000',
		      strokeOpacity: 0.8,
		      strokeWeight: 2,
		      fillColor: '#FF0000',
		      fillOpacity: 0.2,
		      map: map,
		      center: location,
		      radius: radius * 1000
		    });

		    if (radius < 4000) {
		    	map.fitBounds(cityCircle.getBounds());
			  }
		  }

		  if (secondLocation) {
		  	var cityCircle = new google.maps.Circle({
		      strokeColor: '#00FF00',
		      strokeOpacity: 0.8,
		      strokeWeight: 2,
		      fillColor: '#00FF00',
		      fillOpacity: 0.2,
		      map: map,
		      center: {lat: secondLocation.la, lng: secondLocation.lo},
		      radius: secondLocation.rll * 1000
		    });
		  }
		}

    </script>

    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAk2wgfdLC_G0fjXoh-zVD2eyPFmxyQ2FQ&callback=initMap">
    </script>
  </body>
</html>

